* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

/* Hero */
.hero {
  padding: 80px 40px;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
  max-width: 900px;
}

.cta {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cta button {
  background: #eaff4f;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: black;
  padding: 15px;
}

.card-image {
  height: 140px;
  background-color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.blue {
  background-color: rgb(0, 102, 255);
}

.purple {
  background-color: rgb(59, 3, 83);
}

.lightblue {
  background-color: rgb(0, 140, 255);
}

.card p {
  font-size: 14px;
  color: #ccc;
}