div{flex-direction: column;}/* flex-direction: column;  stacks the items vertically from top to bottom, one after the other. */
div{flex-direction: row;}/*flex-direction: row; arranges horizontally, from left to right*/
div{flex-wrap: wrap;} /*flex-wrap: wrap allows the items to wrap onto the next line if they don't fit in the current line*/
div{flex-grow: 5;}/* flex-grow: defines how much a flex item should grow relative to other flex items in the flex container when there is extra space available. */
div{flex-shrink: 5;} /*flex-shrink defines how a flex item should shrink relative to other flex items when there is insufficient space in the container.*/
