*{margin:0;}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    background-color: rgb(243, 229, 216);
}

nav{display: flex;
margin: 30px;}

p{padding-left: 30px;}

div{
    align-content:end;}

img{width: 15cm;
height: 10cm;
margin-top: 25px;}